ATTRS{idVendor}!="15b3", GOTO="mlnx_net_names_generator_end"
ACTION!="add", GOTO="mlnx_net_names_generator_end"
SUBSYSTEM!="net", GOTO="mlnx_net_names_generator_end"
ENV{MATCHADDR}=""
ENV{MATCHID}=""
ENV{MATCHDEVID}=""
ENV{MATCHIFTYPE}=""
ENV{INTERFACE_NAME}=""
ENV{INTERFACE_NEW}=""
PROGRAM="/opt/mellanox/bin/mlnx-udev-namer", NAME="%c"
LABEL="mlnx_net_names_generator_end"
