Source: mellanox-config-tools
Maintainer: Mellanox Openstack <openstack@mellanox.com>
Section: Ofed
Priority: optional
Standards-Version: 3.9.3

Package: mellanox-config-tools
Architecture: all
Description: Mellanox Config Tools
Depends: cpp, libboost-dev, libboost-regex-dev

Package: mellanox-config-tools-python
Architecture: all
Description: Mellanox Config Tools, Python API
Depends: mellanox-config-tools, python, python-pip

Package: mellanox-config-tools-ruby
Architecture: all
Description: Mellanox Config Tools, Ruby API
Depends: mellanox-config-tools, ruby

Package: mellanox-config-tools-puppet
Architecture: all
Description: Mellanox Config Tools, Puppet API
Depends: mellanox-config-tools-ruby, puppet
